{% extends "base.html" %}

{% block content %}

    <a href='./newpost'>Make a new post</a>
    <h3>You're viewing all blog entries</h3>

    {% if blogs|length == 0 %}
      <p>No blogs yet</p>

    {% else %}
      {% for blog in blogs|reverse %}
        <hr />
        <h2><a href='./blog?id={{blog.id}}'>{{blog.title}}</a></h2>
        <p>{{blog.body}}</p>
        {% for user in users %}
          {% if blog.owner_id == user.id %}
            <p>Written by: <a href='./blog?user_id={{user.id}}'>{{user.username}}</a></p>
          {% endif %}

        {% endfor %}
      {% endfor %}

    {% endif %}

    <hr />

{% endblock %}
