{% extends "base.html" %}

{% block content %}
<h1>Character Creation</h1>
<form action="/charactercreation" method="post">
    <table>
        <tr>
            <td><label for="charname">Character Name</label></td>
            <td>
                <input name="charname" type="text" value="{{ charname }}">
            </td>
        </tr>
        <tr>
            <td><label for="charclass">Character Class</label></td>
            <td>
                <select name="charclass">
                    <option value="Barbarian">Barbarian</option>
                    <option value="Bard">Bard</option>
                    <option value="Cleric">Cleric</option>
                    <option value="Druid">Druid</option>
                    <option value="Fighter">Fighter</option>
                    <option value="Monk">Monk</option>
                    <option value="Paladin">Paladin</option>
                    <option value="Ranger">Ranger</option>
                    <option value="Rogue">Rogue</option>
                    <option value="Sorcerer">Sorcerer</option>
                    <option value="Warlock">Warlock</option>
                    <option value="Wizard">Wizard</option>
                </select>
            </td>
        </tr>

        <!--Attributes-->
        <tr>
          <td><label for="strength">Strength</label><td>
          <input name="strength" type="number" min="1" max="40" value="{{ strength }}">
        </tr>
        <tr>
          <td><label for="dexterity">Dexterity</label><td>
          <input name="dexterity" type="number" min="1" max="40" value="{{ dexterity }}">
        </tr>
        <tr>
          <td><label for="constitution">Constitution</label><td>
          <input name="constitution" type="number" min="1" max="40" value="{{ constitution }}">
        </tr>
        <tr>
          <td><label for="intelligence">Intelligence</label><td>
          <input name="intelligence" type="number" min="1" max="40" value="{{ intelligence }}">
        </tr>
        <tr>
          <td><label for="wisdom">Wisdom</label><td>
          <input name="wisdom" type="number" min="1" max="40" value="{{ wisdom }}">
        </tr>
        <tr>
          <td><label for="charisma">Charisma</label><td>
          <input name="charisma" type="number" min="1" max="40" value="{{ charisma }}">
        </tr>
    </table>
    <input type="submit" value="Create">
</form>

{% endblock %}
