{% extends "base.html" %}

{% block content %}
<h1>Character Creation</h1>
<form action="/charactercreation" method="post">
    <table>
        <tr>
            <td><label for="charname">Character Name</label></td>
            <td>
                <input name="charname" type="text" value="{{ charname }}">
            </td>
        </tr>
        <tr>
            <td><label for="charclass">Character Class</label></td>
            <td>
                <select name="charclass">
                    <option value="Barbarian">Barbarian</option>
                    <option value="Bard">Bard</option>
                    <option value="Cleric">Cleric</option>
                    <option value="Druid">Druid</option>
                    <option value="Fighter">Fighter</option>
                    <option value="Monk">Monk</option>
                    <option value="Paladin">Paladin</option>
                    <option value="Ranger">Ranger</option>
                    <option value="Rogue">Rogue</option>
                    <option value="Sorcerer">Sorcerer</option>
                    <option value="Warlock">Warlock</option>
                    <option value="Wizard">Wizard</option>
                </select>
            </td>
        </tr>
    </table>
    <input type="submit" value="Create">
</form>

{% endblock %}
