{% extends "base.html" %}

{% block content %}

    <hr />
    <p>Pardon My Dragons is being created as we speak by Sebastian G. Sweet.
       This application was designed to help people plan their Dungeons and Dragons characters, level ups, and encounters.
       This application is being developed for 5th Edition D&D, with no plan to expand to further editions yet.
       </p>
    <hr />

    You can make a character <a href="./charactercreation">here</a>.
    <br>
    You can access 5e data <a href="./SRD">here</a>.

{% endblock %}
